<h1>Dockerails</h1>

<p>
    This is a sample Rails app using MOJ DS standard Docker deployment setup.
</p>

<ul>
    <li>Environment: <strong><%= Rails.env %></strong></li>
    <li>Version: <strong><%= DOCKERAILS_VERSION %></strong></li>
    <li>Secret: <strong><%= SECRET %></strong></li>
</ul>
